<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FundRising">
    <listeners>
        <listener class-name="com.Wonderwe.Utility.Reporting"></listener>   	
    </listeners>
    <test name="FundRisingapplication test">
        <parameter name="browser" value="chrome"> </parameter>
        <classes>
      	<class name="com.Wonderwe.TestCases.TC_001_HomePage"></class>
      	<class name="com.Wonderwe.TestCases.TC_002_AnimalsPage"></class>
        </classes>
    </test>
</suite>